/* monedas.component.css */

.monedas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: linear-gradient(to right, #004d66, #0099cc); /* Degradado de azules */
  color: white;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow-y: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

input, select {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:focus {
  border-color: #0099cc;
  outline: none;
  background-color: #e9f7ff;
}

button {
  background-color: #0066cc; /* Azul oscuro para el botón */
  color: white;
  border: none;
  padding: 12px 25px;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #004d66;
  transform: translateY(-5px);
}

button:focus {
  outline: none;
}

button:active {
  background-color: #003b4d;
  transform: translateY(0);
}

button[type="button"] {
  background-color: #e74c3c; /* Botón de cancelar (rojo) */
}

button[type="button"]:hover {
  background-color: #c0392b;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #0066cc; /* Azul oscuro para encabezado */
  color: white;
  font-size: 1.2rem;
}

td {
  color: black;
}

tr:nth-child(even) {
  background-color: #f4f7f6; /* Fondo alterno suave para las filas */
}

tr:nth-child(odd) {
  background-color: #e1f5fe;
}

td button {
  background-color: #28a745; /* Verde para editar */
}

td button:hover {
  background-color: #218838;
}

td button:nth-child(2) {
  background-color: #e74c3c; /* Rojo para eliminar */
}

td button:nth-child(2):hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  form {
      width: 90%;
      max-width: 350px;
  }

  table {
      width: 100%;
      font-size: 0.9rem;
  }
}
